/* Aumentar el tamaño del texto y margen para el label del checkbox */
.dash-checkbox label {
    font-size: 20px;
    margin-left: 10px;  /* Ajuste del margen izquierdo del texto */
}

/* Asegurar margen derecho para el checkbox */
.dash-checkbox input[type="checkbox"] {
    margin-right: 10px;  /* Ajuste del margen derecho del checkbox */
}
