{% extends 'base.html' %}
{% block content %}
    <div class="container text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row align-items-center">

        <div class="col-md-5 text-center">
            <img src="{{ url_for('static', filename='images/llama_surfing3_i.png') }}" alt="Llama Surfing" class="img-fluid" style="max-width: 80%;">
        </div>
        <div class="col-md-7">
            <h1 class="display-4 mb-4">CDS 404</h1>
            <p class="lead">Página no encontrada</p>
            <div class="error-message">Aprovecha y surfea la oOola que lleva directa al 
                <a href="{{ url_for('index') }}" class="link">Inicio</a>
            </div>
        </div>
    </div>
 
    </div>
{% endblock %}