{% block content %}
<div class="row">
    <div class="col-md-12 text-center my-4">
        <h1>Data Loader</h1>
    </div>
    <div class="col-md-12">
        <div class="accordion" id="dataAdminAccordion">
            <div class="card">
                <div class="card-header" id="fixedHeading">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#fixedCollapse" aria-expanded="false" aria-controls="fixedCollapse">
                            Fixed value Variables
                        </button>
                    </h2>
                </div>
                <div id="fixedCollapse" class="collapse" aria-labelledby="fixedHeading" data-parent="#dataAdminAccordion">
                    <div class="card-body">
                    <ul class="nav nav-tabs" id="scraperTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#basic" role="tab" aria-controls="basic" aria-selected="true">Add</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab" aria-controls="advanced" aria-selected="false">List</a>
                        </li>
                    </ul>
    <div class="tab-content" id="scraperTabsContent">
        <div class="tab-pane fade show active" id="basic" role="tabpanel" aria-labelledby="basic-tab">
            <br>
            <br>
                    <h4>Create</h4>
                        <form id="fixed-form">
                            <div class="form-group">
                                <input id="fixed-key" name="key" placeholder="Key" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input id="fixed-value" name="value" placeholder="Value" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="hidden" name="value_type" value="fixed">
                            </div>
                            <button type="submit" class="btn btn-outline-primary mt-2"><i class="fas fa-plus"></i></button>
                        </form>
                        <div id="fixed-output" class="mt-3"></div>
                    </div>
        <div class="tab-pane fade show" id="advanced" role="tabpanel" aria-labelledby="basic-tab">
            <br>
            <br>
                        <button id="reload-fixed" class="btn btn-outline-secondary mt-2" title="Refrescar" style="float: right;"><i class="fas fa-rotate-right"></i></button>
                        <div id="fixed-items" class="mt-3">
                            <h4>Stored Variables</h4>
                            <ul class="list-group" id="fixed-items-list">
                                <!-- Lista de ítems fijos se llenará dinámicamente -->
                            </ul>
                        </div>
                    </div>
                </div>
                    </div>
                    </div>
            </div>
            <div class="card">
                <div class="card-header" id="iterableHeading">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#iterableCollapse" aria-expanded="false" aria-controls="iterableCollapse">
                            Iterable Variables
                        </button>
                    </h2>
                </div>
                <div id="iterableCollapse" class="collapse" aria-labelledby="iterableHeading" data-parent="#dataAdminAccordion">
                    <div class="card-body">

            <ul class="nav nav-tabs" id="scraperTabs2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#iterable-viewer" role="tab" aria-controls="basic" aria-selected="true">Add</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#iterable-list" role="tab" aria-controls="advanced" aria-selected="false">List</a>
                        </li>
                    </ul>

    <div class="tab-content" id="scraperTabsContent2">
        <div class="tab-pane fade show active" id="iterable-viewer" role="tabpanel" aria-labelledby="basic-tab">
            <br>
            <br>
        {% include 'csv_iterable_viewer.html' %}

                </div>
        <div class="tab-pane fade show" id="iterable-list" role="tabpanel" aria-labelledby="basic-tab">
            <br>
            <br>
                            <h4>Stored data</h4>
                            <ul class="list-group" id="iterable-items-list">
                                <!-- Lista de ítems iterables se llenará dinámicamente -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            <div class="card">
                <div class="card-header" id="arrayHeading">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#arrayCollapse" aria-expanded="false" aria-controls="arrayCollapse">
                            Arrays of values
                        </button>
                    </h2>
                </div>
                <div id="arrayCollapse" class="collapse" aria-labelledby="arrayHeading" data-parent="#dataAdminAccordion">
                    <div class="card-body">
           <ul class="nav nav-tabs" id="scraperTabs2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="basic-tab" data-toggle="tab" href="#array-viewer" role="tab" aria-controls="basic" aria-selected="true">Add</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="advanced-tab" data-toggle="tab" href="#array-list" role="tab" aria-controls="advanced" aria-selected="false">List</a>
                        </li>
                    </ul>

    <div class="tab-content" id="scraperTabsContent2">
        <div class="tab-pane fade show active" id="array-viewer" role="tabpanel" aria-labelledby="basic-tab">
            <br>
            <br>
  
        {% include 'csv_viewer.html' %}
        </div>
        <div class="tab-pane fade show" id="array-list" role="tabpanel" aria-labelledby="basic-tab">
            <br>
            <br>
                        <h4>Valores Arrays Existentes</h4>
                        <ul class="list-group" id="array-items-list">
                            <!-- Lista de ítems arrays se llenará dinámicamente -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function getIdsFromUrl() {
            const pathArray = window.location.pathname.split('/');
            const testId = pathArray[pathArray.length - 1];
            const collectionId = pathArray[pathArray.length - 2];
            return { testId, collectionId };
        }

        const { testId, collectionId } = getIdsFromUrl();
        console.log(`testId: ${testId}, collectionId: ${collectionId}`);  // Logging IDs

        function updateValuesList(values, listId, filterType) {
            const listElement = document.getElementById(listId);
            listElement.innerHTML = '';
            values.filter(value => value.value_type === filterType).forEach(value => {
                const listItem = document.createElement('li');
                listItem.className = 'list-group-item';
                listItem.innerHTML = `
                    <strong>${value.value_key}</strong>: ${value.value_value}
                    <button class="btn btn-outline-danger btn-sm delete-btn" data-id="${value.id}" style="float:right"><i class="fa-solid fa-trash"></i></button>
                `;
                listElement.appendChild(listItem);
            });
        }

            function saveData(endpoint, data, outputId, callback) {
            console.log(`Sending data to ${endpoint}:`, data);  // Logging request data
            fetch(endpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log(`Response from ${endpoint}:`, data);  // Logging response data
                document.getElementById(outputId).innerText = data.message;
                document.getElementById(outputId).className = data.status === 'success' ? 'text-success' : 'text-danger';
                if (callback) {
                    callback(data.values);
                }
                setTimeout(() => {
                    document.getElementById(outputId).innerText = '';
                    document.getElementById(outputId).className = '';
                }, 5000);  // Clear message after 5 seconds
                loadValues();
            })
            .catch(error => console.error('Error:', error));  // Logging errors
        }

        function loadValues() {
            const endpoint = `/values/${testId}`;
            fetch(endpoint, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(data => {
                console.log(`Loaded values:`, data);  // Logging loaded values
                updateValuesList(data.values, 'fixed-items-list', 'fixed');
                updateValuesList(data.values, 'iterable-items-list', 'iterable');
                updateValuesList(data.values, 'array-items-list', 'array');
            })
            .catch(error => console.error('Error:', error));  // Logging errors
        }

        document.getElementById('reload-fixed').addEventListener('click', function () {
            loadValues();
        });

        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('delete-btn')) {
                const valueId = event.target.getAttribute('data-id');
                const endpoint = `/values/delete/${valueId}`;
                fetch(endpoint, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    console.log(`Response from ${endpoint}:`, data);
                    loadValues();  // Recargar los valores después de eliminar
                })
                .catch(error => console.error('Error:', error));
            }

            if (event.target.classList.contains('edit-btn')) {
                const valueId = event.target.getAttribute('data-id');
                // Implement your edit functionality here
                console.log(`Edit value with ID: ${valueId}`);
            }
        });



        document.getElementById('fixed-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const key = document.getElementById('fixed-key').value;
            const value = document.getElementById('fixed-value').value;
            const endpoint = `/values/${testId}`;
            saveData(endpoint, { key, value, value_type: 'fixed' }, 'fixed-output', function(values) {
                updateValuesList(values, 'fixed-items-list');
            });
        });

        // Load initial values when the page loads
        loadValues();
    });


</script>
{% endblock %}
