{% extends 'base.html' %}
{% block content %}
<div class="container my-5" translate="no">
<h1>Collections</h1>
<form method="POST">
    <div class="form-group">
        <label for="name">Collection Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Collection</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for collection in collections %}
        <tr>
            <td>{{ collection.id }}</td>
            <td>{{ collection.name }}</td>
            <td>
                <a href="{{ url_for('tests', collection_id=collection.id) }}" class="btn btn-info">View</a>
                <a href="{{ url_for('edit_collection', collection_id=collection.id) }}" class="btn btn-secondary">Edit</a>
                <a href="{{ url_for('delete_collection', collection_id=collection.id) }}" class="btn btn-danger" onclick="return confirmDelete()">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<script>
    function confirmDelete() {
        return confirm('¿Estás seguro de que deseas eliminar este elemento?\nSe borrarán todos los tests, ejecuciones y datos relacionados y no se podrán recuperar.');
    }
</script>
{% endblock %}
