{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <button id="back-button" class="btn btn-warning" title="Back to Tests List" style="float: right;"><i class="fas fa-arrow-left"></i></button>
        </div>
    </div>
<div class="row align-items-center">
        <div class="col-md-12 text-center">
            <img src="{{ url_for('static', filename='images/surf_wax.png') }}" alt="Collections icon" class="img-fluid" style="max-width: 10%;">
        </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <h1 id="collection-name" class="text-left my-4">{{ collection_name }}</h1>
        </div>
    </div>
 <div class="row">
       <div class="col-md-4 offset-md-4">
            <h3>Test Name</h3>
    <div class="d-flex align-items-center">
        <input id="new-test-name-input" placeholder="Nuevo Nombre del Test" value="{{ test_name or '' }}" type="text" class="form-control me-2">
        <button id="save-test-name-button" class="btn btn-outline-primary" title="Save to DB" style="margin-left: 3px;"><i class="fas fa-save"></i></button>
    </div>
    <div id="save-test-name-output" class="mt-2"></div>
</div> 
    </div>
     <div class="row">
        <div class="col-md-12 text-center my-4">
            <h1>Datos Generales</h1>
        </div> 
    </div>
<div class="row">
        <div class="col-md-4">
            <h3>Model Name</h3>
            <div class="d-flex align-items-center">
                <input id="new-model-name-input" placeholder="Model Name" value="{{ model_name or '' }}" type="text" class="form-control me-2">
                <button id="load-model-name-collection" class="btn btn-outline-primary" title="Load from Collection" style="margin-left: 3px;"><i class="fas fa-upload"></i></button>
                <button id="save-model-name-button" class="btn btn-outline-primary" title="Save to DB" style="margin-left: 3px;"><i class="fas fa-save"></i></button>
            </div>
            <div id="save-model-name-output" class="mt-2"></div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <h3>Auth URL</h3>
    <div class="d-flex align-items-center">
        <input id="auth-url-input" placeholder="http://example.com/api/v1/auth" value="{{ auth_url or '' }}" type="text" class="form-control">
        <button id="load-auth-url-collection" class="btn btn-outline-primary" title="Load from Collection" style="margin-left: 3px;"><i class="fas fa-upload"></i></button>
        <button id="save-auth-url-button" class="btn btn-outline-primary" title="Save to DB" style="margin-left: 3px;"><i class="fas fa-save"></i></button>
    </div>
    <div id="save-auth-url-output" class="mt-2"></div>
    </div>
        <div class="col-md-4">
            <h3>API Key</h3>
        <div class="d-flex align-items-center">
            <input id="api-key-input" placeholder="Your API Key" value="{{ api_key or '' }}" type="text" class="form-control">
        <button id="load-api-key-collection" class="btn btn-outline-primary" style="margin-left: 3px;"  title="Load from Collection" ><i class="fas fa-upload"></i></button>
            <button id="save-api-key-button" class="btn btn-outline-primary" style="margin-left: 3px;" title="Save to DB"><i class="fas fa-save"></i></button>
        </div>
            <div id="save-api-key-output" class="mt-2"></div>
        </div>
        <div class="col-md-4">
            <h3>Destination URL</h3>
        <div class="d-flex align-items-center">
            <input id="my-input" placeholder="http://example.com" value="{{ target_url or '' }}" type="text" class="form-control">
        <button id="load-target-url-collection" class="btn btn-outline-primary" style="margin-left: 3px;"  title="Load from Collection" ><i class="fas fa-upload"></i></button>
            <button id="save-target-url-button" class="btn btn-outline-primary" style="margin-left: 3px;" title="Save to DB"><i class="fas fa-save"></i></button>
        </div>
            <div id="save-target-url-output" class="mt-2"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Plantilla de Request</h3>
            <textarea id="template-request" placeholder="Escribe la plantilla de request como objeto json, sustitución dinámica de {{'{{url}}'}}, {{'{{payload}}'}}, {{'{{api_key}}'}} y {{'{{prompt}}'}} por sus respectivos valores." class="form-control" style="width: 100%; height: 200px;">{{ template_request or '' }}</textarea>
            <button id="load-request-template-collection" class="btn btn-outline-primary mt-2" title="Load from Collection" ><i class="fas fa-upload"></i></button>
            <button id="upload-request-template" class="btn btn-outline-secondary mt-2" title="Upload from file"><i class="fas fa-file-upload"></i></button>
            <button id="download-request-template" class="btn btn-outline-secondary mt-2" title="Save to File"><i class="fas fa-file-download"></i></button>
            <button id="save-request-template" class="btn btn-outline-primary mt-2" title="Save to DB" ><i class="fas fa-save"></i></button>
            <div id="template-request-output" class="mt-3"></div>
        </div>
    </div>


        {% include 'admin_template.html' %}


    <div class="row">
        <div class="col-md-12 text-center my-4">
            <h1>Combinar Prompt</h1>
        </div>
        <div class="col-md-12">
            <h3>Constructor de plantilla de Prompts</h3>
            <textarea id="template-input" placeholder="Escribe combinando texto normal y texto entre {{'{{'}}}} de manera que se sustituyan los valores al pulsar sobre el botón, prueba con {{'{{date}}'}}" class="form-control" style="width: 100%; height: 200px;">{{ prompt_template or '' }}</textarea>
            <button id="load-prompt-template-collection" class="btn btn-outline-primary mt-2" title="Load from Collection" ><i class="fas fa-upload"></i></button>
            <button id="upload-prompt-template" class="btn btn-outline-secondary mt-2" title="Upload from file"><i class="fas fa-file-upload"></i></button>
            <button id="download-prompt-template" class="btn btn-outline-secondary mt-2" title="Save to File"><i class="fas fa-file-download"></i></button>
            <button id="template-button" class="btn btn-outline-warning mt-2" title="Process Template and show" ><i class="fas fa-cogs"></i></button>
            <button id="template-send-button" class="btn btn-outline-warning mt-2" title="Process and send to model for testing response" ><i class="fas fa-paper-plane"></i></button>
            <button id="save-prompt-template" class="btn btn-outline-primary mt-2" title="Save to DB" ><i class="fas fa-save"></i></button>
            <input id="iterable-index" value="0" title="Índice específico para iterables" type="number" class="form-control mt-2" style="width: auto; display: inline-block; float: right;">
            <div id="template-output" class="mt-3"></div>
            <div id="prompt-spinner" class="spinner-border text-primary" role="status" style="display: none;">
                <span class="sr-only">Loading...</span>
            </div>
            <div id="save-prompt-template-output" class="mt-3"></div>
            <div id="send-output" class="mt-3"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <button id="back-button-2" class="btn btn-warning" title="Back to Tests List" style="float: right;"><i class="fas fa-arrow-left"></i></button>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        function getIdsFromUrl() {
            const pathArray = window.location.pathname.split('/');
            const testId = pathArray[pathArray.length - 2];
            const collectionId = pathArray[pathArray.length - 1];
            return { testId, collectionId };
        }

        const { testId, collectionId } = getIdsFromUrl();
        console.log(`testId: ${testId}, collectionId: ${collectionId}`);  // Logging IDs

        function saveData(endpoint, data, outputId) {
            console.log(`Sending data to ${endpoint}:`, data);  // Logging request data
            fetch(endpoint, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                console.log(`Response from ${endpoint}:`, data);  // Logging response data
                document.getElementById(outputId).innerText = data.message;
                document.getElementById(outputId).className = data.status === 'success' ? 'text-success' : 'text-danger';
                setTimeout(() => {
                    document.getElementById(outputId).innerText = '';
                    document.getElementById(outputId).className = '';
                }, 5000);  // Clear message after 5 seconds
            })
            .catch(error => console.error('Error:', error));  // Logging errors
        }

        document.getElementById('save-model-name-button').addEventListener('click', function () {
            const authUrl = document.getElementById('new-model-name-input').value;
            const endpoint = `/tests/config/${testId}/${collectionId}`;
            saveData(endpoint, { 'new-model-name-input': authUrl }, 'save-model-name-output');
        });

        document.getElementById('save-auth-url-button').addEventListener('click', function () {
            const authUrl = document.getElementById('auth-url-input').value;
            const endpoint = `/tests/config/${testId}/${collectionId}`;
            saveData(endpoint, { 'auth-url-input': authUrl }, 'save-auth-url-output');
        });

        document.getElementById('save-api-key-button').addEventListener('click', function () {
            const apiKey = document.getElementById('api-key-input').value;
            const endpoint = `/tests/config/${testId}/${collectionId}`;
            saveData(endpoint, { 'api-key-input': apiKey }, 'save-api-key-output');
        });

        document.getElementById('back-button').addEventListener('click', function() {
            window.history.back();
        });
        document.getElementById('back-button-2').addEventListener('click', function() {
            window.history.back();
        });

        document.getElementById('save-target-url-button').addEventListener('click', function () {
            const targetUrl = document.getElementById('my-input').value;
            const endpoint = `/tests/config/${testId}/${collectionId}`;
            saveData(endpoint, { 'my-input': targetUrl }, 'save-target-url-output');
        });

        document.getElementById('save-request-template').addEventListener('click', function () {
            const templateRequest = document.getElementById('template-request').value;
            const endpoint = `/tests/config/${testId}/${collectionId}`;
            saveData(endpoint, { 'template-request': templateRequest }, 'template-request-output');
        });

        document.getElementById('save-prompt-template').addEventListener('click', function () {
            const promptTemplate = document.getElementById('template-input').value;
            const endpoint = `/tests/config/${testId}/${collectionId}`;
            saveData(endpoint, { 'template-input': promptTemplate }, 'save-prompt-template-output');
        });

        document.getElementById('template-button').addEventListener('click', function () {
            const templateText = document.getElementById('template-input').value;
            let iterableIndex  = document.getElementById('iterable-index').value;
            console.log('Processing template:', templateText);  // Logging template processing
            console.log('iterable-index', iterableIndex);  // Logging template processing
            fetch('/process-template', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ 
                    'template-input': templateText ,
                    'test-id': `${testId}`,
                    'iterable-index': iterableIndex
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Processed template response:', data);  // Logging processed template response
                document.getElementById('template-output').innerText = data.rendered_text;
            })
            .catch(error => console.error('Error:', error));  // Logging errors
        });

        document.getElementById('template-send-button').addEventListener('click', function () {
            function showSpinner() {
            document.getElementById('prompt-spinner').style.display = 'block';
        }

        function hideSpinner() {
            document.getElementById('prompt-spinner').style.display = 'none';
        }
            const modelName = document.getElementById('new-model-name-input').value;
            const authUrl = document.getElementById('auth-url-input').value;
            const apiKey = document.getElementById('api-key-input').value;
            const url = document.getElementById('my-input').value;
            const processedText = document.getElementById('template-output').innerText;
            const templateRequestText = document.getElementById('template-request').value;

            console.log('Sending template:', {
                'new-model-name-input': modelName,
                'auth-url-input': authUrl,
                'api-key-input': apiKey,
                'my-input': url,
                'processed-text': processedText,
                'template-request': templateRequestText
            });  // Logging template sending data

            document.getElementById('send-output').innerText = '';  // Clear the output first

            showSpinner();

            fetch('/send-template', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'new-model-name-input': modelName,
                    'auth-url-input': authUrl,
                    'api-key-input': apiKey,
                    'my-input': url,
                    'processed-text': processedText,
                    'template-request': templateRequestText
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Send template response:', data);  // Logging send template response
                hideSpinner();
                if(data.response){
                    document.getElementById('send-output').innerText =  data.message + data.response;
                }else{
                    document.getElementById('send-output').innerText =  data.message;
                }
                document.getElementById('send-output').className = data.status === 'success' ? 'text-success' : 'text-danger';
            })
            .catch(error => console.error('Error:', error));  // Logging errors
        });
    });

document.addEventListener('DOMContentLoaded', function () {
    // Función para subir y leer archivo JSON en Request Template
    document.getElementById('upload-request-template').addEventListener('click', function () {
        const input = document.createElement('input');
        input.type = 'file';
        input.accept = 'application/json';
        input.onchange = function (event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function () {
                document.getElementById('template-request').value = reader.result;
            };
            reader.readAsText(file);
        };
        input.click();
    });

    // Función para subir y leer archivo TXT en Prompt Template
    document.getElementById('upload-prompt-template').addEventListener('click', function () {
        const input = document.createElement('input');
        input.type = 'file';
        input.accept = 'text/plain';
        input.onchange = function (event) {
            const file = event.target.files[0];
            const reader = new FileReader();
            reader.onload = function () {
                document.getElementById('template-input').value = reader.result;
            };
            reader.readAsText(file);
        };
        input.click();
    });

    // Función para descargar el contenido de Request Template como archivo JSON
    document.getElementById('download-request-template').addEventListener('click', function () {
        const content = document.getElementById('template-request').value;
        const blob = new Blob([content], { type: 'application/json' });
        const url = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = 'Rtemplate_' + url.substr(url.lastIndexOf('/') + 1) + '.json';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        URL.revokeObjectURL(url);
    });

    // Función para descargar el contenido de Prompt Template como archivo TXT
    document.getElementById('download-prompt-template').addEventListener('click', function () {
        const content = document.getElementById('template-input').value;
        const blob = new Blob([content], { type: 'text/plain' });
        const url = URL.createObjectURL(blob);
        const a = document.createElement('a');
        a.href = url;
        a.download = 'Ptemplate_' + url.substr(url.lastIndexOf('/') + 1) + '.txt';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
        URL.revokeObjectURL(url);
    });
});

document.addEventListener('DOMContentLoaded', function () {
    function getIdsFromUrl() {
        const pathArray = window.location.pathname.split('/');
        const testId = pathArray[pathArray.length - 2];
        const collectionId = pathArray[pathArray.length - 1];
        return { testId, collectionId };
    }

    const { testId, collectionId } = getIdsFromUrl();
    console.log(`testId: ${testId}, collectionId: ${collectionId}`);  // Logging IDs

    function saveData(endpoint, data, outputId) {
        console.log(`Sending data to ${endpoint}:`, data);  // Logging request data
        fetch(endpoint, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            console.log(`Response from ${endpoint}:`, data);  // Logging response data
            const outputElement = document.getElementById(outputId);
            outputElement.innerText = data.message;
            outputElement.className = data.status === 'success' ? 'text-success' : 'text-danger';
            setTimeout(() => {
                outputElement.innerText = '';
                outputElement.className = '';
            }, 5000);  // Clear message after 5 seconds
        })
        .catch(error => console.error('Error:', error));  // Logging errors
    }

    


    document.getElementById('save-test-name-button').addEventListener('click', function() {
        const newTestName = document.getElementById('new-test-name-input').value;
        const endpoint = `/tests/update_name/${testId}`;
        saveData(endpoint, { new_test_name: newTestName }, 'save-test-name-output');
        document.getElementById('test-name').innerText = newTestName;
    });

 function loadData(field) {
        const endpoint = `/get_collection/${collectionId}`;
        fetch(endpoint)
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    const collectionData = data.data;
                    if (field === 'name') {
                        document.getElementById('new-test-name-input').value = collectionData.name || '';
                    } else if (field === 'model_name') {
                        document.getElementById('new-model-name-input').value = collectionData.model_name || '';
                    }
                    else if (field === 'auth_url') {
                        document.getElementById('auth-url-input').value = collectionData.auth_url || '';
                    } else if (field === 'api_key') {
                        document.getElementById('api-key-input').value = collectionData.api_key || '';
                    } else if (field === 'target_url') {
                        document.getElementById('my-input').value = collectionData.target_url || '';
                    } else if (field === 'request_template') {
                        document.getElementById('template-request').value = collectionData.request_template || '';
                    } else if (field === 'prompt_template') {
                        document.getElementById('template-input').value = collectionData.prompt_template || '';
                    }
                } else {
                    console.error('Error loading collection data:', data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    document.getElementById('load-model-name-collection').addEventListener('click', function () {
        loadData('model_name');
    });

    document.getElementById('load-auth-url-collection').addEventListener('click', function () {
        loadData('auth_url');
    });

    document.getElementById('load-api-key-collection').addEventListener('click', function () {
        loadData('api_key');
    });

    document.getElementById('load-target-url-collection').addEventListener('click', function () {
        loadData('target_url');
    });

    document.getElementById('load-request-template-collection').addEventListener('click', function () {
        loadData('request_template');
    });

    document.getElementById('load-prompt-template-collection').addEventListener('click', function () {
        loadData('prompt_template');
    });
});

</script>
{% endblock %}
