{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center my-4">
            <h1>Visor de CSV</h1>
        </div>
        <div class="col-md-12">
            <form id="csv-iterable-form" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="file" id="csv-iterable-file" name="csv_file" class="form-control" accept=".csv,.xlsx" required>
                </div>
                <button type="submit" class="btn btn-outline-primary mt-2" style="float: right;" title="Confirm"><i class="fas fa-file-upload"></i></button>
            </form>
            <div id="csv-iterable-output" class="mt-3"></div>
            <div id="csv-iterable-table" class="mt-3" style="width: 100%; height: 600px; overflow: auto;"></div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div id="selected-iterable-range" class="alert alert-info" role="alert">
                No range selected
            </div>
            <input id="array-iterable-key" name="key" placeholder="Nombre del ítem" class="form-control" required>
            <button id="save-iterable-selection" class="btn btn-outline-success mt-4" title="Guardar"><i class="fa-solid fa-floppy-disk"></i></button>
            <button id="invert-iterable-selection" class="btn btn-outline-warning mt-4" title="Invertir iteration"><i class="fas fa-arrows-rotate"></i></button>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css" />
<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const container = document.querySelector('#csv-iterable-table');
        let hot;
        let selectedData = [];

        // Initialize an empty Handsontable instance
        hot = new Handsontable(container, {
            data: [],
            rowHeaders: true,
            colHeaders: true,
            contextMenu: true,
            filters: true,
            dropdownMenu: true,
            height: 'auto',
            autoWrapRow: true,
            autoWrapCol: true,
            licenseKey: 'non-commercial-and-evaluation' // for non-commercial use only
        });

        document.querySelector('#csv-iterable-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const fileInput = document.querySelector('#csv-iterable-file');
            if (!fileInput) {
                console.error("File input element not found.");
                return;
            }
            const file = fileInput.files[0];
            if (!file) {
                console.error("No file selected.");
                return;
            }
            const reader = new FileReader();

            reader.onload = function (event) {
                console.log("File read successfully.");
                const data = new Uint8Array(event.target.result);
                const workbook = XLSX.read(data, { type: 'array' });
                const firstSheetName = workbook.SheetNames[0];
                const worksheet = workbook.Sheets[firstSheetName];
                const csvData = XLSX.utils.sheet_to_csv(worksheet);
                displayTable(csvData);
            };

            reader.readAsArrayBuffer(file);
        });

        function displayTable(csvData) {
            console.log("Displaying table with data:", csvData);
            const data = csvData.split('\n').map(row => row.split(','));

            hot.updateSettings({
                data: data
            });

            // Add event listener for save-selection button after data is displayed
            document.querySelector('#save-iterable-selection').addEventListener('click', function () {
                console.log("Save selection button clicked.");
                if (!selectedData || selectedData.length === 0) {
                    console.error("No range selected!");
                    alert("No range selected!");
                    return;
                }

                try {
                   var arrayKey = document.getElementById("array-iterable-key"); 
                   console.log(arrayKey.value);
                } catch (error) {
                    alert("No se puede guardar un array sin referenciarlo con un nombre.");
                    return;
                }

                console.log("Data to save:", selectedData);
                
                const pathArray = window.location.pathname.split('/');
                const testId = pathArray[pathArray.length - 1];
                
                console.log(testId);
                const confirmMessage = `Are you sure you want to save the following data?\n\n${JSON.stringify(selectedData, null, 2)}`;
                if (confirm(confirmMessage)) {
                    fetch('/save_iterable_selection', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ value_key: arrayKey.value, value_value: selectedData, test_id: testId })
                    })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'success') {
                            alert('Data saved successfully!');
                            arrayKey.value = "";
                            location.reload();
                        } else {
                            alert('Error saving data: ' + data.message);
                        }
                    })
                    .catch(error => console.error('Error:', error));
                }
            });

            // Add event listener for invert-selection button
            document.querySelector('#invert-iterable-selection').addEventListener('click', function () {
                console.log("Invert selection button clicked.");
                selectedData.reverse();
                console.log("Inverted data:", selectedData);
            });

            // Add listener to update selected range display
            hot.addHook('afterSelection', function (startRow, startCol, endRow, endCol) {
                const rangeDisplay = `Selected range: ${Handsontable.helper.spreadsheetColumnLabel(startCol)}${startRow + 1} to ${Handsontable.helper.spreadsheetColumnLabel(endCol)}${endRow + 1}`;
                document.querySelector('#selected-iterable-range').textContent = rangeDisplay;

                selectedData = [];
                for (let row = startRow; row <= endRow; row++) {
                    for (let col = startCol; col <= endCol; col++) {
                        selectedData.push(hot.getDataAtCell(row, col));
                    }
                }
                console.log("Selected data:", selectedData);
            });
        }
    });
</script>
{% endblock %}
