{% block content %}
<div class="container">
    <h1>Download Data as CSV File</h1>

    <h6>Select columns to include</h6>
    <form onsubmit="downloadCSV(); return false;">
        <input type="checkbox" id="chk_id" checked> ID<br>
        <input type="checkbox" id="chk_test_id" checked> Test ID<br>
        <input type="checkbox" id="chk_result" checked> Result<br>
        <input type="checkbox" id="chk_timestamp" checked> Timestamp<br>
        <input type="checkbox" id="chk_response_data" checked> Response data<br>
        <input type="checkbox" id="chk_start_time" checked> Start Time<br>
        <input type="checkbox" id="chk_end_time" checked> End Time<br>
        <input type="checkbox" id="chk_duration" checked> Duration<br>
        <input type="checkbox" id="chk_date" checked> Date<br>
        <input type="checkbox" id="chk_model_name" checked> Model Name<br>
        <input type="checkbox" id="chk_target_url" checked> Target Url<br>
        <br>
        <button type="submit" class="btn btn-primary">Download as CSV File</button>
    </form>
</div>
<script>
    function getExecutionIdFromUrl() {
        var url = window.location.href;
        var match = url.match(/execution-results\/(\d+)/);
        return match ? match[1] : null;
    }

    function downloadCSV() {
        var selectedColumns = [];
        if (document.getElementById('chk_id').checked) selectedColumns.push('ID');
        if (document.getElementById('chk_test_id').checked) selectedColumns.push('Test ID');
        if (document.getElementById('chk_result').checked) selectedColumns.push('Resultado');
        if (document.getElementById('chk_timestamp').checked) selectedColumns.push('Timestamp');
        if (document.getElementById('chk_response_data').checked) selectedColumns.push('Datos de Respuesta');
        if (document.getElementById('chk_start_time').checked) selectedColumns.push('Hora de Inicio');
        if (document.getElementById('chk_end_time').checked) selectedColumns.push('Hora de Finalización');
        if (document.getElementById('chk_duration').checked) selectedColumns.push('Duración');
        if (document.getElementById('chk_date').checked) selectedColumns.push('Fecha');
        if (document.getElementById('chk_model_name').checked) selectedColumns.push('Modelo');
        if (document.getElementById('chk_target_url').checked) selectedColumns.push('Url Destino');

        // Construir la URL correctamente
        var baseUrl = "{{ url_for('download_all_data_csv') }}";
        var url = `${baseUrl}?columns=${selectedColumns.map(c => encodeURIComponent(c)).join('&columns=')}`;
        
        window.location.href = url;
    }
</script>

{% endblock %}