{% extends 'base.html' %}

{% block content %}
<h1>Ejecuciones del Test {{ test.name }}</h1>

<!-- Opciones para seleccionar el método de ejecución -->
<div class="mb-3">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="executionOption" id="selectIterable" value="iterable" checked>
        <label class="form-check-label" for="selectIterable">
            Seleccionar Clave de Item Iterable
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="executionOption" id="selectRepetition" value="repetition">
        <label class="form-check-label" for="selectRepetition">
            Seleccionar Número de Repeticiones
        </label>
    </div>
</div>

<!-- Formulario para seleccionar la clave de item iterable -->
<div id="iterableSelection" class="mb-3">
    <div class="form-group">
        <label for="iterable-key">Clave de Item Iterable</label>
        <select id="iterable-key" class="form-control">
            {% for key in iterable_keys %}
            <option value="{{ key }}">{{ key }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="async-checkbox-iterable">
        <label class="form-check-label" for="async-checkbox-iterable">
            Ejecutar Asíncronamente
        </label>
    </div>
</div>

<!-- Formulario para seleccionar el número de repeticiones -->
<div id="repetitionSelection" class="mb-3" style="display: none;">
    <div class="form-group">
        <label for="num-repetitions">Número de Repeticiones</label>
        <input type="number" id="num-repetitions" class="form-control" min="1" value="1">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="async-checkbox-repetition">
        <label class="form-check-label" for="async-checkbox-repetition">
            Ejecutar Asíncronamente
        </label>
    </div>
</div>

<!-- Formulario para iniciar nueva ejecución -->
<form id="start-execution-form" action="{{ url_for('start_execution', test_id=test.id) }}" method="post">
    <input type="hidden" id="repetitions" name="repetitions" value="">
    <input type="hidden" id="selection-type" name="selection_type" value="">
    <input type="hidden" id="async-option" name="async_option" value="">
    <input type="hidden" id="key" name="key" value="">
    <button type="submit" class="btn btn-success mb-3">Iniciar Nueva Ejecución</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Resultado</th>
            <th>Timestamp</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody id="executions-table-body">
        {% for execution in executions %}
        <tr>
            <td>{{ execution.id }}</td>
            <td>{{ execution.result }}</td>
            <td>{{ execution.timestamp }}</td>
            <td>
                {% if execution.result == 'In Progress' %}
                <form action="{{ url_for('pause_execution', execution_id=execution.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-warning">Pausar</button>
                </form>
                {% else %}
                <form action="{{ url_for('start_execution', test_id=test.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-success">Reanudar</button>
                </form>
                <form action="{{ url_for('delete_execution', execution_id=execution.id) }}" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
                {% endif %}
                <a href="{{ url_for('execution_results', execution_id=execution.id) }}" class="btn btn-info">Resultados</a>
                <a href="{{ url_for('execution_analysis', execution_id=execution.id) }}" class="btn btn-info">Analisis</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('tests', collection_id=test.collection_id) }}" class="btn btn-secondary">Volver a Tests</a>

<script>
document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('input[name="executionOption"]').forEach(function(elem) {
        elem.addEventListener('change', function(event) {
            if (event.target.value === 'iterable') {
                document.getElementById('iterableSelection').style.display = 'block';
                document.getElementById('repetitionSelection').style.display = 'none';
            } else if (event.target.value === 'repetition') {
                document.getElementById('iterableSelection').style.display = 'none';
                document.getElementById('repetitionSelection').style.display = 'block';
            }
        });
    });

    document.getElementById('start-execution-form').addEventListener('submit', function(event) {
        let repetitions;
        let selectionType;
        let asyncOption;
        let selectedKey;

        if (document.getElementById('selectIterable').checked) {
            // Obtenemos la clave seleccionada del iterable
            selectedKey = document.getElementById('iterable-key').value;
            repetitions = 1;
            selectionType = 'iterable';
            asyncOption = document.getElementById('async-checkbox-iterable').checked ? 'true' : 'false';
        } else if (document.getElementById('selectRepetition').checked) {
            repetitions = document.getElementById('num-repetitions').value;
            selectionType = 'repetition';
            asyncOption = document.getElementById('async-checkbox-repetition').checked ? 'true' : 'false';
        }

        document.getElementById('repetitions').value = repetitions;
        document.getElementById('selection-type').value = selectionType;
        document.getElementById('async-option').value = asyncOption;
        document.getElementById('key').value = selectedKey;
    });

    const pauseUrlBase = '{{ url_for("pause_execution", execution_id=0) }}'.replace('0', '');
    const resumeUrlBase = '{{ url_for("start_execution", test_id=test.id) }}';
    const resultsUrlBase = '{{ url_for("execution_results", execution_id=0) }}'.replace('0', '');
    const deleteUrlBase = '{{ url_for("delete_execution", execution_id=0) }}'.replace('0', '');
    const analysisUrlBase = '{{ url_for("execution_analysis", execution_id=0) }}'.replace('0', '');


    function updateExecutions() {
        fetch('{{ url_for("get_executions", test_id=test.id) }}')
            .then(response => response.json())
            .then(data => {
                const tableBody = document.getElementById('executions-table-body');
                tableBody.innerHTML = '';
                data.forEach(execution => {
                    const pauseUrl = pauseUrlBase + execution.id;
                    const resultsUrl = resultsUrlBase + execution.id;
                    const deleteUrl = deleteUrlBase + execution.id;
                    console.log(execution.timestamp);
                    const utcDate = new Date(execution.timestamp);
                    const localDate = utcDate.toLocaleString();
                    const analysisUrl = analysisUrlBase + execution.id;

                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${execution.id}</td>
                        <td>${execution.result}</td>
                        <td>${localDate}</td>
                        <td>
                            ${execution.result === 'In Progress' ? `
                            <form action="${pauseUrl}" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-warning">Pausar</button>
                            </form>
                            ` : `
                            <form action="${resumeUrlBase}" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-success">Reanudar</button>
                            </form>
                            `}
                            <a href="${resultsUrl}" class="btn btn-info">Resultados</a>
                            <a href="${analysisUrl}" class="btn btn-info">Análisis</a>
                            <form action="${deleteUrl}" method="post" style="display: inline;">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });
            });
    }

    // Actualizar la lista cada 5 segundos
    setInterval(updateExecutions, 5000);
    // Llamar una vez para cargar inicialmente
    updateExecutions();
});
</script>

{% endblock %}
