{% extends 'base.html' %}

{% block content %}
<div class="container my-5">

    <div class="row align-items-center">

        <div class="col-md-3 text-center">
            <img src="{{ url_for('static', filename='images/favicon.png') }}" alt="Llama Surfing" class="img-fluid" style="max-width: 80%;">
        </div>
        <div class="col-md-9">
            <h1 class="display-4 mb-4">Charlie Don't Surf</h1>
            <p class="lead">CDS is an advanced tool for managing, building prompts, and testing language models. Aimed at developers, it optimizes and evaluates the efficiency of language models, assisting in the management of tests and results.</p>
        </div>
    </div>
    
    <div class="my-5">
        <h2 class="h3">Features</h2>
        
        <div class="my-4">
            <h3 class="h4">Test Administration</h3>
            <p>Manage collections and tests, allowing the creation, editing, and deletion of collections. Configure detailed tests with specific parameters and customized conditions.</p>
        </div>
        
        <div class="my-4">
            <h3 class="h4">Prompt Construction</h3>
            <p>Use Jinja templates to create highly flexible custom prompts. Insert variables, set conditions, and reuse components for dynamic and adaptable construction.</p>
            <p>Load data directly onto Jinja templates using CSV files.</p>
        </div>
 <div class="my-4">
    <h3 class="h4">Language Model Testing</h3>
    <p>Run automated tests to evaluate the functionality and performance of models under various conditions. Launch test suites against APIs of different models for comprehensive evaluation.</p>
    <p>The results are stored and presented in an organized manner, providing detailed reports to identify areas for improvement and optimize the models.</p>
</div> 
    </div>
    
   <div class="my-5">
    <h2 class="h3">Technology Used</h2>
    <p>The application is based on a robust infrastructure with Flask for managing and executing tests, SQLAlchemy for the database, and Jinja for building prompts. On the client side, JavaScript and Moment.js handle date and time conversion, while Bootstrap ensures an intuitive and responsive interface.</p>
    <p>It is a solution for organizations looking to maximize the performance and reliability of their language models, ensuring precise evaluation and continuous optimization.</p>
</div>
    
</div>
{% endblock %}
