{% extends 'base.html' %}
{% block content %}


<div class="container">
<div class="row">
<div class="col-md-12">
<a href="{{ url_for('collections') }}" class="btn btn-warning" title="Back to Collection's list" style="float: right;"><i class="fas fa-arrow-left"></i></a>
</div>
</div>
<div class="row align-items-center">
        <div class="col-md-12 text-center">
            <img src="{{ url_for('static', filename='images/surf_approval.png') }}" alt="Collections icon" class="img-fluid" style="max-width: 10%;">
        </div>
</div>
<br>
<br>
<h1>Tests de la Colección {{ collection.name }}</h1>
<form method="POST">
    <div class="form-group">
        <input type="text" placeholder="Test Name" class="form-control" id="name" name="name" required>
    </div>
    <button type="submit" class="btn btn-outline-primary" style="float: right;"><i class="fas fa-plus"></i></button>
</form>
<br>
<br>
<br>
<br>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for test in tests %}
        <tr>
            <td>{{ test.id }}</td>
            <td>{{ test.name }}</td>
            <td>
                <a href="{{ url_for('config_test', test_id=test.id, collection_id=collection.id) }}" class="btn btn-outline-info" title="Config Test"><i class="fas fa-pen"></i></a>
                <a href="{{ url_for('executions', test_id=test.id) }}" class="btn btn-outline-primary" title="List of test Executions"><i class="fas fa-tasks"></i></a>
                <a href="{{ url_for('delete_test', test_id=test.id, collection_id=collection.id) }}"  onclick="return confirmDelete()" class="btn btn-outline-danger" title="Delete Test"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="row">
<div class="col-md-12">
<a href="{{ url_for('collections') }}" class="btn btn-warning" title="Back to Collection's list" style="float: right;"><i class="fas fa-arrow-left"></i></a>
</div>
</div>
</div>
<script>
    function confirmDelete() {
        return confirm('¿Estás seguro de que deseas eliminar este elemento?\nSe borrarán todos los tests, ejecuciones y datos relacionados y no se podrán recuperar.');
    }
</script>
{% endblock %}
